<footer class="footer">
  <%= render 'shared/scroll' %>
  <div class="contact">
    <span class="mail">hello@guillaumecrouillere.fr</span>
    <span class="tel">+ 33 6 85 47 68 48</span>
    <span class="localisation">
      <%= link_to "https://goo.gl/maps/zp8MoXzqRfN2", target: "blank" do %>
        <%= image_tag 'loc2.svg'%>
      <% end %>
    </span></div>
</footer>
