<div class="logo">
  <%= image_tag 'search.svg', class: "bulb"%>
  <%= image_tag 'a.svg', class: "eye" %>
  <%= image_tag 'closing.svg', class: "closing" %>
  <span class="hair">www</span>
  <%= image_tag 'keyboard-black.svg', class: "keyboard" %>
</div>
