header {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  box-shadow: 0px 1px 3px -3px rgba(0, 0, 0, 0.8);
  z-index: 3;
  @media all and (min-width: 768px) {
    position: fixed;
    width: calc(100% - 40px);
  }
  .bibi {
    display: flex;
    align-items: center;
  }
  .blaze {
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 900;
    @media all and (max-width: 576px) {
      font-size: 12px;
      margin-left: 0px;
    }
  }
  .job {
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    @media all and (max-width: 576px) {
      font-size: 12px;
    }
  }
  .language {
    position: absolute;
    right: 0px;
    top: 15px;
    @media all and (max-width: 370px) {
      display: none;
    }
    @media all and (max-width: 450px) {
      right: 15px;
    }
    span a {
      font-size: 12px;
      font-weight: 900;
      margin: 0 4px;
      @media all and (max-width: 450px) {
        font-size: 11px;
        font-weight: 900;
      }
    }
    .current a {
      color: black;
    }
    .clickable a {
      color: #C2C2C2;
    }
  }
}
